In [1]:
import os
import requests
import json
import numpy as np
from dotenv import load_dotenv
from pathlib import Path
import pandas as pd
from coinapi_rest_v1.restapi import CoinAPIv1
import datetime, sys

#For Heatmap:
import seaborn as sns
%matplotlib inline

In [2]:
crypto_data_2017 = pd.read_csv(
    Path('./crypto_data_2017.csv')
)

In [3]:
crypto_data_2017.head()

,Unnamed: 0,btc_start_date,price_open,price_close,volume_traded,eth_start_date,price_open.1,price_close.1,volume_traded.1,ltc_start_date,...,price_close.5,volume_traded.5,zec_start_date,price_open.6,price_close.6,volume_traded.6,dash_start_date,price_open.7,price_close.7,volume_traded.7
0,0,2017-01-01T00:00:00.0000000Z,968.750,969.739,86944.74851,2017-01-01T00:00:00.0000000Z,8.09999,10.66911,8.902222e+05,2017-01-01T00:00:00.0000000Z,...,0.249367,122281928.8,2017-01-01T00:00:00.0000000Z,48.00000,39.72103,4937.523761,2017-04-01T00:00:00.0000000Z,71.51334,92.82983,9150.946748
1,1,2017-02-01T00:00:00.0000000Z,968.166,1180.000,61053.17522,2017-02-01T00:00:00.0000000Z,10.75997,15.63000,9.978738e+05,2017-02-01T00:00:00.0000000Z,...,0.244035,183678603.7,2017-02-01T00:00:00.0000000Z,39.04901,36.87479,6424.262701,2017-05-01T00:00:00.0000000Z,90.02437,137.37001,60526.731500
2,2,2017-03-01T00:00:00.0000000Z,1181.998,1079.780,114427.90560,2017-03-01T00:00:00.0000000Z,15.62999,49.69750,3.386530e+06,2017-03-01T00:00:00.0000000Z,...,0.165100,233919484.2,2017-03-01T00:00:00.0000000Z,36.91646,62.22333,25896.177270,2017-06-01T00:00:00.0000000Z,140.64014,174.73788,62989.830260
3,3,2017-04-01T00:00:00.0000000Z,1080.030,1350.717,65383.51624,2017-04-01T00:00:00.0000000Z,49.69000,78.36700,1.165797e+06,2017-04-01T00:00:00.0000000Z,...,0.260000,438200607.4,2017-04-01T00:00:00.0000000Z,63.43361,92.72201,25668.899730,2017-07-01T00:00:00.0000000Z,179.97646,178.50000,81831.269430
4,4,2017-05-01T00:00:00.0000000Z,1344.601,2291.301,221472.63930,2017-05-01T00:00:00.0000000Z,78.36667,228.50000,3.020777e+06,2017-05-01T00:00:00.0000000Z,...,0.199030,301335988.4,2017-05-01T00:00:00.0000000Z,92.72694,231.36099,66842.636340,2017-08-01T00:00:00.0000000Z,178.50000,387.18200,61795.474500

In [4]:
# STEP 3: CALCULATE Monthly RETURNS FOR EACH CURRENCY IN Designated Time range from  DATAFRAME, DROP NULL VALUES
"""

Will need: .pct_change().dropna(inplace = True)

"""

'\n\nWill need: .pct_change().dropna(inplace = True)\n\n'

In [39]:
btc_2017_monthly_returns = crypto_data_2017['price_close'].loc[0:11].pct_change().dropna()
btc_2017 = pd.DataFrame(btc_2017_monthly_returns)
btc_2017

    price_close
1      0.216822
2     -0.084932
3      0.250919
4      0.696359
5      0.067079
6      0.176333
7      0.647097
8     -0.083016
9      0.480318
10     0.568852
11     0.386727

In [41]:
eth_2017_monthly_returns = crypto_data_2017.loc[0:11,'price_close.1'].loc[0:11].pct_change().dropna()
eth_2017 = pd.DataFrame(eth_2017_monthly_returns)
eth_2017

    price_close.1
1        0.464977
2        2.179623
3        0.576880
4        1.915768
5        0.225383
6       -0.279365
7        0.922923
8       -0.221140
9        0.006353
10       0.444331
11       0.698304

In [7]:
ltc_2017 = crypto_data_2017.loc[0:11,'price_close.2'].pct_change().dropna()
ltc_2017_df = pd.DataFrame(ltc_2017)
ltc_2017_df

    price_close.2
1       -0.086005
2        0.875499
3        1.214477
4        0.646469
5        0.514656
6        0.084496
7        0.732601
8       -0.241524
9       -0.003235
10       0.579052
11       1.629296

In [42]:
usdt_2017 = crypto_data_2017.loc[0:11,'price_close.3'].pct_change().dropna()
usdt_2017 = pd.DataFrame(usdt_2017)
usdt_2017

    price_close.3
1        0.130588
2       -0.048245
3       -0.003578
4        0.002095
5       -0.004778
6        0.000100
7        0.006801
8        0.012218
9        0.000000
10       0.000000
11       0.000000

In [43]:
xlm_2017 = crypto_data_2017.loc[0:11,'price_close.4'].pct_change().dropna()
xlm_2017_df = pd.DataFrame(xlm_2017)
xlm_2017_df

    price_close.4
1       -0.106561
2        0.188542
3        1.105609
4        6.075963
5       -0.214882
6       -0.390537
7        0.000000
8        0.000000
9        0.000000
10       0.000000
11       0.000000

In [44]:
xrp_2017 = crypto_data_2017.loc[0:11,'price_close.5'].pct_change().dropna()
xrp_2017_df = pd.DataFrame(xrp_2017)
xrp_2017_df

    price_close.5
1       -0.021382
2       -0.323458
3        0.574803
4       -0.234500
5        0.000151
6        0.205667
7        7.291833
8        0.000000
9        0.000000
10       0.000000
11       0.000000

In [11]:
zec_2017 = crypto_data_2017.loc[0:11,'price_close.6'].pct_change().dropna()
zec_2017_df = pd.DataFrame(zec_2017)
zec_2017_df

    price_close.6
1       -0.071656
2        0.687422
3        0.490149
4        1.495211
5        0.274182
6       -0.409761
7        0.666667
8       -0.044828
9       -0.155235
10       0.288291
11       0.587839

In [12]:
dash_2017 = crypto_data_2017.loc[0:8, 'price_close.7'].pct_change().dropna()
dash_2017_df = pd.DataFrame(dash_2017)
dash_2017_df

   price_close.7
1       0.479805
2       0.272023
3       0.021530
4       1.169087
5      -0.147688
6      -0.153394
7       1.791367
8       0.317161

In [13]:
# STEP 4: CALCULATE VARIANCE OF BITCOIN FOR DATAFRAME
"""

Will need: monthly_returns.var()

"""
btc_var_2017 = btc_2017.var()
print(btc_var_2017)

price_close    0.07636
dtype: float64

In [14]:
eth_var_2017 = eth_2017.var()
print(eth_var_2017)

price_close.1    0.631356
dtype: float64

In [15]:
ltc_var_2017 = ltc_2017_df.var()
print(ltc_var_2017)

price_close.2    0.330989
dtype: float64

In [17]:
usdt_var_2017 = usdt_2017.var()
print(usdt_var_2017)

price_close.3    0.002641
dtype: float64

In [18]:
xlm_var_2017 = xlm_2017_df.var()
print(xlm_var_2017)

price_close.4    6.199367
dtype: float64

In [20]:
xrp_var_2017 = xrp_2017_df.var()
print(xrp_var_2017)

price_close.5    7.613773
dtype: float64

In [21]:
zec_var_2017 = zec_2017_df.var()
print(zec_var_2017)

price_close.6    0.277743
dtype: float64

In [22]:
dash_var_2017 = dash_2017_df.var()
print(dash_var_2017)

price_close.7    0.46695
dtype: float64

In [36]:
# STEP 5B: CALCULATE COVARIANCE OF EACH CURRENCY RELATIVE TO BITCOIN
"""
Use monthly returns of currency and monthly returns of bitcoin as market proxy

"""
btc_2017_cov = btc_2017.cov(btc_2017)
btc_2017_cov

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
eth_2017_cov = eth_2017.cov()
eth_2017_cov

               price_close.1
price_close.1       0.631356