In [1]:
import os
import requests
import json
from dotenv import load_dotenv
import pandas as pd

from coinapi_rest_v1.restapi import CoinAPIv1
import datetime, sys

In [2]:
load_dotenv()

True

In [3]:
coin_api_key = os.getenv("COIN_API_KEY")

In [4]:
type(coin_api_key)

str

In [5]:
api = CoinAPIv1(coin_api_key)

In [8]:
exchanges = api.metadata_list_exchanges()
print('Exchanges')
for exchange in exchanges:
     print('Exchange ID: %s' % exchange['exchange_id'])

Exchanges
Exchange ID: ECB
Exchange ID: BINANCE
Exchange ID: KRAKEN
Exchange ID: COINBASE
Exchange ID: BITSTAMP
Exchange ID: GEMINI
Exchange ID: LMAXDIGITAL
Exchange ID: OKCOINCNY
Exchange ID: HUOBI
Exchange ID: BITTREX
Exchange ID: POLONIEX
Exchange ID: BITFINEX
Exchange ID: HUOBIPRO
Exchange ID: HITBTC
Exchange ID: BTCCHINA
Exchange ID: BITFLYER
Exchange ID: BITHUMB
Exchange ID: COINONE
Exchange ID: OKEX
Exchange ID: OKCOINUSD
Exchange ID: BTCTRADE
Exchange ID: BITMEX
Exchange ID: KUCOIN
Exchange ID: ITBIT
Exchange ID: DERIBIT
Exchange ID: BITBAY
Exchange ID: BIBOX
Exchange ID: UPBIT
Exchange ID: BINANCEUS
Exchange ID: CRYPTOPIA
Exchange ID: COINCHECK
Exchange ID: LIQUI
Exchange ID: EXMO
Exchange ID: CHBTC
Exchange ID: JUBI
Exchange ID: ZAIF
Exchange ID: KORBIT
Exchange ID: BTC38
Exchange ID: MTGOX
Exchange ID: LAKEBTC
Exchange ID: BLEUTRADE
Exchange ID: BITCOINID
Exchange ID: TIDEX
Exchange ID: ACX
Exchange ID: BITSO
Exchange ID: LIVECOIN
Exchange ID: MIXCOINS
Exchange ID: VIRWOX
Exchange ID: BTER
Exchange ID: MERCADOBITCOIN
Exchange ID: COINNEST
Exchange ID: CEXIO
Exchange ID: THEROCKTRADING
Exchange ID: CCEX
Exchange ID: BITYES
Exchange ID: QUADRIGACX
Exchange ID: BITMARKET
Exchange ID: LUNO
Exchange ID: BTCMARKETS
Exchange ID: VAULTORO
Exchange ID: BTCBOX
Exchange ID: GATECOIN
Exchange ID: GETBTC
Exchange ID: ALLCOIN
Exchange ID: COINMATE
Exchange ID: INDEPENDENTRESERVE
Exchange ID: COINFLOOR
Exchange ID: DSX
Exchange ID: ABUCOINS
Exchange ID: SOUTHXCHANGE
Exchange ID: BTCTRADEUA
Exchange ID: KRAKENFTS
Exchange ID: BTCX
Exchange ID: BITVC
Exchange ID: KUNA
Exchange ID: BRAZILIEX
Exchange ID: PAYMIUM
Exchange ID: BIT2C
Exchange ID: FYBSG
Exchange ID: YUNBI
Exchange ID: BITKONAN
Exchange ID: FYBSE
Exchange ID: BTCC
Exchange ID: COINGI
Exchange ID: NOVA
Exchange ID: 1BTCXE
Exchange ID: COINSECURE
Exchange ID: VBTC
Exchange ID: FOXBIT
Exchange ID: URDUBIT
Exchange ID: CHILEBIT
Exchange ID: SURBITCOIN
Exchange ID: GDAC
Exchange ID: AIDOSMARKET
Exchange ID: BITASSET
Exchange ID: FOLGORY
Exchange ID: FEX
Exchange ID: OTCBTC
Exchange ID: ALTERDICE
Exchange ID: ISX
Exchange ID: PROBIT
Exchange ID: ETOROX
Exchange ID: BCEX
Exchange ID: ALTILLY
Exchange ID: HEATWALLET
Exchange ID: BTCALPHA
Exchange ID: CATEX
Exchange ID: BBX
Exchange ID: P2PB2B
Exchange ID: BLOCKCHAINEXCHANGE
Exchange ID: BITVAVO
Exchange ID: CRYPTONEX
Exchange ID: DELTAEXCHANGE
Exchange ID: BIKI
Exchange ID: CPATEX
Exchange ID: ETHFINEX
Exchange ID: BITFOREX
Exchange ID: BITPANDAPRO
Exchange ID: IDCM
Exchange ID: IDAX
Exchange ID: HBDM
Exchange ID: BITMAX
Exchange ID: BASEFEX
Exchange ID: KOINEKS
Exchange ID: SHORTEX
Exchange ID: TOKENS
Exchange ID: BITRUE
Exchange ID: TIMEX
Exchange ID: COINEGG
Exchange ID: LXDX
Exchange ID: BISQ
Exchange ID: IDEXBSC
Exchange ID: DEXTOP
Exchange ID: DRAGONEX
Exchange ID: OKEXKR
Exchange ID: COBINHOOD
Exchange ID: GLOBITEX
Exchange ID: KOINIM
Exchange ID: BITKUB
Exchange ID: ARTISTURBA
Exchange ID: DOBI
Exchange ID: CRYPTONBTC
Exchange ID: NEGOCIECOINS
Exchange ID: COINRATE
Exchange ID: GATEHUB
Exchange ID: CURRENCYCOM
Exchange ID: COINSBANK
Exchange ID: COINSQUARE
Exchange ID: BITSANE
Exchange ID: XENA
Exchange ID: TOKOK
Exchange ID: RFINEX
Exchange ID: BITINKA
Exchange ID: COINEAL
Exchange ID: EXTSTOCK
Exchange ID: CITEX
Exchange ID: WAVESPLATFORM
Exchange ID: COINDCX
Exchange ID: PHEMEX
Exchange ID: GULDENTRADER
Exchange ID: BIRAKE
Exchange ID: GOPAX
Exchange ID: EZBTC
Exchange ID: COINEXCHANGE
Exchange ID: OPENLEDGER
Exchange ID: LATOKEN
Exchange ID: BKEX
Exchange ID: BINANCEOPTV
Exchange ID: POLONIEXFTS
Exchange ID: YUNEX
Exchange ID: FCOIN
Exchange ID: CREX24
Exchange ID: OVIS
Exchange ID: FISCO
Exchange ID: DCOIN
Exchange ID: CRYPTOMKT
Exchange ID: BITKER
Exchange ID: OOOBTC
Exchange ID: BITVAST
Exchange ID: BTCEXCHANGE
Exchange ID: BINANCEJE
Exchange ID: ZB
Exchange ID: HBTC
Exchange ID: BGOGO
Exchange ID: XBTCE
Exchange ID: AAX
Exchange ID: BIGONE
Exchange ID: COINUT
Exchange ID: ANXPRO
Exchange ID: KYBER
Exchange ID: UEX
Exchange ID: MERCATOX
Exchange ID: HUOBIKR
Exchange ID: COINZEST
Exchange ID: SWITCHEO
Exchange ID: COINLIM
Exchange ID: CHAOEX
Exchange ID: BIONE
Exchange ID: BITRABBIT
Exchange ID: COINFIELD
Exchange ID: BITBANK
Exchange ID: OCEANEX
Exchange ID: COINCORNER
Exchange ID: BHEX
Exchange ID: BITIBU
Exchange ID: TRADEOGRE
Exchange ID: IDEXETH
Exchange ID: COINDEAL
Exchange ID: OMGFIN
Exchange ID: INSTANTBITEX
Exchange ID: COINSPOT
Exchange ID: COINFALCON
Exchange ID: STRONGHOLD
Exchange ID: GRAVIEX
Exchange ID: LYKKE
Exchange ID: BITUBU
Exchange ID: VALR
Exchange ID: BITFLYERLTNG
Exchange ID: NOCKS
Exchange ID: MANDALA
Exchange ID: TRIVPRO
Exchange ID: CRYPTALDASH
Exchange ID: DUEDEX
Exchange ID: TRADEIO
Exchange ID: BITCOINTRADE
Exchange ID: BITHUMBSG
Exchange ID: COINBENE
Exchange ID: HANBITCO
Exchange ID: ALTCOINTRADER
Exchange ID: LOCALTRADE
Exchange ID: HUOBIRU
Exchange ID: COINMEX
Exchange ID: FATBTC
Exchange ID: BITSTORAGE
Exchange ID: XS2
Exchange ID: CRYPTOLOGY
Exchange ID: BITHESAP
Exchange ID: HUOBIFTS
Exchange ID: HADAX
Exchange ID: GOPAXKR
Exchange ID: COINSBIT
Exchange ID: BITSHARES
Exchange ID: RIGHTBTC
Exchange ID: EXRATES
Exchange ID: COINPLACE
Exchange ID: BINANCEFTS
Exchange ID: WAZIRX
Exchange ID: CROSSEXCHANGE
Exchange ID: BINANCEFTSC
Exchange ID: VEBITCOIN
Exchange ID: BINANCEJEX
Exchange ID: INFINITYCOIN
Exchange ID: VELIC
Exchange ID: NERAEXPRO
Exchange ID: COSS
Exchange ID: DIGIFINEX
Exchange ID: SISTEMKOIN
Exchange ID: SEEDCX
Exchange ID: ALLBIT
Exchange ID: BITMART
Exchange ID: COINSPRO
Exchange ID: CRYPTOBRIDGE
Exchange ID: ICE3X
Exchange ID: TOPBTC
Exchange ID: CCXCANADA
Exchange ID: LBANK
Exchange ID: ZG
Exchange ID: VINDAX
Exchange ID: BITEXLIVE
Exchange ID: TRADESATOSHI
Exchange ID: SIMEX
Exchange ID: MXC
Exchange ID: BITCOINCOM
Exchange ID: INDOEX
Exchange ID: ZEBPAY
Exchange ID: CPDAX
Exchange ID: STELLARPORT
Exchange ID: DDEX
Exchange ID: FTX
Exchange ID: COINJAR
Exchange ID: COINHUB
Exchange ID: LITEBIT
Exchange ID: BUDA
Exchange ID: TIDEBIT
Exchange ID: SATANGPRO
Exchange ID: RADARRELAY
Exchange ID: CRXZONE
Exchange ID: OVEX
Exchange ID: BINANCEDEX
Exchange ID: BEQUANT
Exchange ID: LUKKI
Exchange ID: BITEXBOOK
Exchange ID: ABCC
Exchange ID: STORMGAIN
Exchange ID: C2CX
Exchange ID: BITEXLA
Exchange ID: GM55
Exchange ID: COINTIGER
Exchange ID: KRYPTONO
Exchange ID: EXX
Exchange ID: BITBNS
Exchange ID: CRYPTOMATE
Exchange ID: MODIAX
Exchange ID: BW
Exchange ID: WHITEBIT
Exchange ID: HUOBIJP
Exchange ID: COINALL
Exchange ID: NOVADAX
Exchange ID: BTSE
Exchange ID: SATO
Exchange ID: STEX
Exchange ID: PARIBU
Exchange ID: TOKENOMY
Exchange ID: BITHUMBPRO
Exchange ID: FREIEXCHANGE
Exchange ID: DEXTRADE
Exchange ID: HUOBIIND
Exchange ID: CASHIEREST
Exchange ID: BYBIT
Exchange ID: BTC-E
Exchange ID: YOBIT
Exchange ID: GATEIO
Exchange ID: QUOINE
Exchange ID: BXINTH
Exchange ID: BITLISH
Exchange ID: TOKENSTORE
Exchange ID: INDODAX
Exchange ID: BILAXY
Exchange ID: BITZ
Exchange ID: ZBG
Exchange ID: COINEX
Exchange ID: WEXNZ
Exchange ID: BINANCEFTSCUAT
Exchange ID: LMAXDIGITALUAT
Exchange ID: BINANCEFTSUAT
Exchange ID: BINANCEOPTVUAT
Exchange ID: BINANCEUAT
Exchange ID: BITMEXUAT

In [9]:
# BTC MONTHLY CLOSE 2016 - 2021/08
start_of_2016 = datetime.date(2016, 1, 1).isoformat()
current_time = datetime.date(2021, 8, 12).isoformat()
bitcoin_ohlcv_5yr = api.ohlcv_historical_data('COINBASE_BINANCE_ZEC_USD', {'period_id': '1MTH', 'time_start': start_of_2016, 'time_end': current_time})

for period in bitcoin_ohlcv_5yr:
    print('Period start: %s' % period['time_period_start'])
    print('Period end: %s' % period['time_period_end'])
    print('Time open: %s' % period['time_open'])
    print('Time close: %s' % period['time_close'])
    print('Price open: %s' % period['price_open'])
    print('Price close: %s' % period['price_close'])
    print('Price low: %s' % period['price_low'])
    print('Price high: %s' % period['price_high'])
    print('Volume traded: %s' % period['volume_traded'])
    print('Trades count: %s' % period['trades_count'])

HTTPError: HTTP Error 400: Bad Request

In [24]:
bitcoin_pricing_df = pd.DataFrame(
    bitcoin_ohlcv_5yr).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'btc_start_date'}, axis='columns')
bitcoin_pricing_df

,btc_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2016-01-01T00:00:00.0000000Z,430.35,464.40,350.92,367.95,253073.622221,531782
1,2016-02-01T00:00:00.0000000Z,367.89,448.70,361.10,436.44,206047.023709,648916
2,2016-03-01T00:00:00.0000000Z,436.41,437.78,381.09,416.03,211493.241532,466501
3,2016-04-01T00:00:00.0000000Z,416.03,472.38,414.12,454.02,171114.376280,605952
4,2016-05-01T00:00:00.0000000Z,454.02,549.99,435.00,531.34,187217.055946,903603
...,...,...,...,...,...,...,...
63,2021-04-01T00:00:00.0000000Z,58800.01,64899.00,47044.01,57798.77,452139.938374,11202521
64,2021-05-01T00:00:00.0000000Z,57798.77,59592.20,30000.00,37279.31,871350.592518,17938239
65,2021-06-01T00:00:00.0000000Z,37276.23,41322.55,28800.00,35060.00,589672.283432,9582842
66,2021-07-01T00:00:00.0000000Z,35060.00,42414.61,29301.56,41495.01,369194.006347,6662012
67,2021-08-01T00:00:00.0000000Z,41499.00,46781.09,37300.00,45181.20,198857.444280,3735004

In [17]:
btc_ohlcv_historical_2016_to_2021

Empty DataFrame
Columns: []
Index: []

In [10]:
bitcoin_pricing_df_2017 = pd.DataFrame(
    ohlcv_historical_btc_2017).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'BTC_start_date'}, axis='columns')
bitcoin_pricing_df_2017

,BTC_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-01-01T00:00:00.0000000Z,968.750,1156.900,756.001,969.739,86944.748512,104667
1,2017-02-01T00:00:00.0000000Z,968.166,1214.973,940.006,1180.000,61053.175222,75428
2,2017-03-01T00:00:00.0000000Z,1181.998,1310.982,881.891,1079.780,114427.905595,170463
3,2017-04-01T00:00:00.0000000Z,1080.030,1355.550,1070.000,1350.717,65383.516240,119923
4,2017-05-01T00:00:00.0000000Z,1344.601,2722.237,1325.760,2291.301,221472.639297,505025
5,2017-06-01T00:00:00.0000000Z,2291.301,2948.000,2075.329,2445.000,214516.227905,514999
6,2017-07-01T00:00:00.0000000Z,2443.360,2934.440,1809.000,2876.133,260245.317887,602298
7,2017-08-01T00:00:00.0000000Z,2876.133,4760.000,2599.000,4737.270,228405.861801,751623
8,2017-09-01T00:00:00.0000000Z,4737.020,4965.000,2995.500,4344.000,205468.185174,574406
9,2017-10-01T00:00:00.0000000Z,4343.900,6444.600,4154.900,6430.500,91987.226637,281037
10,2017-11-01T00:00:00.0000000Z,6442.300,11379.800,5464.000,10088.500,159007.771246,609703
11,2017-12-01T00:00:00.0000000Z,10087.800,19660.000,9450.000,13990.000,129092.020695,803682

In [11]:
# Ethereum MONTHLY CLOSE FROM 2017
start_of_2017 = datetime.date(2017, 1, 1).isoformat()
end_of_2017 = datetime.date(2017, 12,31).isoformat()
ETH_ohlcv_historical_2017 = api.ohlcv_historical_data('COINBASE_SPOT_ETH_USD', {'period_id': '1MTH', 'time_start': start_of_2017, 'time_end': end_of_2017})

for period in ETH_ohlcv_historical_2017:
    print('Period start: %s' % period['time_period_start'])
    print('Period end: %s' % period['time_period_end'])
    print('Time open: %s' % period['time_open'])
    print('Time close: %s' % period['time_close'])
    print('Price open: %s' % period['price_open'])
    print('Price close: %s' % period['price_close'])
    print('Price low: %s' % period['price_low'])
    print('Price high: %s' % period['price_high'])
    print('Volume traded: %s' % period['volume_traded'])
    print('Trades count: %s' % period['trades_count'])

Period start: 2017-01-01T00:00:00.0000000Z
Period end: 2017-02-01T00:00:00.0000000Z
Time open: 2017-01-01T00:00:01.4630000Z
Time close: 2017-01-31T12:38:21.7400000Z
Price open: 8.16
Price close: 10.64
Price low: 8.05
Price high: 11.8
Volume traded: 1203121.05190307
Trades count: 143888
Period start: 2017-02-01T00:00:00.0000000Z
Period end: 2017-03-01T00:00:00.0000000Z
Time open: 2017-02-01T05:29:04.2480000Z
Time close: 2017-02-28T17:37:17.2270000Z
Price open: 10.79
Price close: 15.53
Price low: 10.56
Price high: 16.94
Volume traded: 2267977.13852189
Trades count: 260884
Period start: 2017-03-01T00:00:00.0000000Z
Period end: 2017-04-01T00:00:00.0000000Z
Time open: 2017-03-01T01:33:25.4010000Z
Time close: 2017-03-31T23:59:56.1440000Z
Price open: 15.75
Price close: 50.18
Price low: 15.68
Price high: 57.67
Volume traded: 9060824.56262779
Trades count: 811228
Period start: 2017-04-01T00:00:00.0000000Z
Period end: 2017-05-01T00:00:00.0000000Z
Time open: 2017-04-01T00:00:27.1370000Z
Time close: 2017-04-30T23:59:58.1530000Z
Price open: 50.17
Price close: 80.81
Price low: 41.1
Price high: 82.9
Volume traded: 4072001.85379615
Trades count: 956969
Period start: 2017-05-01T00:00:00.0000000Z
Period end: 2017-06-01T00:00:00.0000000Z
Time open: 2017-05-01T00:00:29.2350000Z
Time close: 2017-05-31T23:59:51.2020000Z
Price open: 80.72
Price close: 229.14
Price low: 72.24
Price high: 234.76
Volume traded: 8233846.32264706
Trades count: 1744626
Period start: 2017-06-01T00:00:00.0000000Z
Period end: 2017-07-01T00:00:00.0000000Z
Time open: 2017-06-01T00:00:10.0780000Z
Time close: 2017-06-30T23:59:53.4340000Z
Price open: 229.15
Price close: 280.04
Price low: 13.0
Price high: 420.0
Volume traded: 7985496.23093386
Trades count: 1781388
Period start: 2017-07-01T00:00:00.0000000Z
Period end: 2017-08-01T00:00:00.0000000Z
Time open: 2017-07-01T00:00:00.9000000Z
Time close: 2017-07-31T23:59:56.8010000Z
Price open: 280.03
Price close: 200.82
Price low: 130.26
Price high: 293.73
Volume traded: 8796017.77159416
Trades count: 1672136
Period start: 2017-08-01T00:00:00.0000000Z
Period end: 2017-09-01T00:00:00.0000000Z
Time open: 2017-08-01T00:00:03.5260000Z
Time close: 2017-08-31T23:59:43.2620000Z
Price open: 200.83
Price close: 389.2
Price low: 200.82
Price high: 392.0
Volume traded: 5279326.18838091
Trades count: 1449015
Period start: 2017-09-01T00:00:00.0000000Z
Period end: 2017-10-01T00:00:00.0000000Z
Time open: 2017-09-01T00:00:00.7660000Z
Time close: 2017-09-30T23:59:52.0340000Z
Price open: 389.2
Price close: 301.57
Price low: 202.25
Price high: 396.88
Volume traded: 6029669.9026956
Trades count: 1393278
Period start: 2017-10-01T00:00:00.0000000Z
Period end: 2017-11-01T00:00:00.0000000Z
Time open: 2017-10-01T00:00:00.7300000Z
Time close: 2017-10-31T23:59:56.4840000Z
Price open: 301.57
Price close: 303.51
Price low: 275.46
Price high: 350.0
Volume traded: 2763999.43493489
Trades count: 1919269
Period start: 2017-11-01T00:00:00.0000000Z
Period end: 2017-12-01T00:00:00.0000000Z
Time open: 2017-11-01T00:00:02.3820000Z
Time close: 2017-11-30T23:59:59.5550000Z
Price open: 303.51
Price close: 434.0
Price low: 278.88
Price high: 518.13
Volume traded: 5520762.95965352
Trades count: 4670710
Period start: 2017-12-01T00:00:00.0000000Z
Period end: 2018-01-01T00:00:00.0000000Z
Time open: 2017-12-01T00:00:00.4150000Z
Time close: 2017-12-31T23:59:51.4880000Z
Price open: 434.0
Price close: 741.27
Price low: 415.01
Price high: 875.0
Volume traded: 9182240.55037388
Trades count: 5778427

In [12]:
eth_pricing_df_2017 = pd.DataFrame(
    ETH_ohlcv_historical_2017).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'ETH_start_date'}, axis='columns')
eth_pricing_df_2017

,ETH_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-01-01T00:00:00.0000000Z,8.16,11.80,8.05,10.64,1.203121e+06,143888
1,2017-02-01T00:00:00.0000000Z,10.79,16.94,10.56,15.53,2.267977e+06,260884
2,2017-03-01T00:00:00.0000000Z,15.75,57.67,15.68,50.18,9.060825e+06,811228
3,2017-04-01T00:00:00.0000000Z,50.17,82.90,41.10,80.81,4.072002e+06,956969
4,2017-05-01T00:00:00.0000000Z,80.72,234.76,72.24,229.14,8.233846e+06,1744626
5,2017-06-01T00:00:00.0000000Z,229.15,420.00,13.00,280.04,7.985496e+06,1781388
6,2017-07-01T00:00:00.0000000Z,280.03,293.73,130.26,200.82,8.796018e+06,1672136
7,2017-08-01T00:00:00.0000000Z,200.83,392.00,200.82,389.20,5.279326e+06,1449015
8,2017-09-01T00:00:00.0000000Z,389.20,396.88,202.25,301.57,6.029670e+06,1393278
9,2017-10-01T00:00:00.0000000Z,301.57,350.00,275.46,303.51,2.763999e+06,1919269
10,2017-11-01T00:00:00.0000000Z,303.51,518.13,278.88,434.00,5.520763e+06,4670710
11,2017-12-01T00:00:00.0000000Z,434.00,875.00,415.01,741.27,9.182241e+06,5778427

In [13]:
# Litecoin MONTHLY CLOSE FROM 2016 to 2021
start_of_2017 = datetime.date(2017, 1, 1).isoformat()
end_of_2017 = datetime.date(2017, 12,31).isoformat()
ltc_ohlcv_historical_2017 = api.ohlcv_historical_data('COINBASE_SPOT_LTC_USD', {'period_id': '1MTH', 'time_start': start_of_2017, 'time_end': end_of_2017})

for period in ltc_ohlcv_historical_2017:
    print('Period start: %s' % period['time_period_start'])
    print('Period end: %s' % period['time_period_end'])
    print('Time open: %s' % period['time_open'])
    print('Time close: %s' % period['time_close'])
    print('Price open: %s' % period['price_open'])
    print('Price close: %s' % period['price_close'])
    print('Price low: %s' % period['price_low'])
    print('Price high: %s' % period['price_high'])
    print('Volume traded: %s' % period['volume_traded'])
    print('Trades count: %s' % period['trades_count'])

Period start: 2017-01-01T00:00:00.0000000Z
Period end: 2017-02-01T00:00:00.0000000Z
Time open: 2017-01-01T00:25:03.6140000Z
Time close: 2017-01-31T12:37:33.1100000Z
Price open: 4.37
Price close: 4.03
Price low: 3.66
Price high: 5.99
Volume traded: 32790.43276138
Trades count: 2702
Period start: 2017-02-01T00:00:00.0000000Z
Period end: 2017-03-01T00:00:00.0000000Z
Time open: 2017-02-04T12:12:32.6470000Z
Time close: 2017-02-28T17:28:26.8790000Z
Price open: 3.97
Price close: 3.83
Price low: 3.62
Price high: 4.06
Volume traded: 121441.61819148
Trades count: 7668
Period start: 2017-03-01T00:00:00.0000000Z
Period end: 2017-04-01T00:00:00.0000000Z
Time open: 2017-03-01T01:42:56.7010000Z
Time close: 2017-03-31T23:59:59.3350000Z
Price open: 3.87
Price close: 7.25
Price low: 3.69
Price high: 9.9
Volume traded: 1157577.57032882
Trades count: 44221
Period start: 2017-04-01T00:00:00.0000000Z
Period end: 2017-05-01T00:00:00.0000000Z
Time open: 2017-04-01T00:00:00.5140000Z
Time close: 2017-04-30T23:59:02.8310000Z
Price open: 7.25
Price close: 16.2
Price low: 6.65
Price high: 16.74
Volume traded: 7994884.60857065
Trades count: 273774
Period start: 2017-05-01T00:00:00.0000000Z
Period end: 2017-06-01T00:00:00.0000000Z
Time open: 2017-05-01T00:00:14.4770000Z
Time close: 2017-05-31T23:59:40.4400000Z
Price open: 16.2
Price close: 25.88
Price low: 15.5
Price high: 38.91
Volume traded: 16700840.83681139
Trades count: 1251380
Period start: 2017-06-01T00:00:00.0000000Z
Period end: 2017-07-01T00:00:00.0000000Z
Time open: 2017-06-01T00:00:13.9630000Z
Time close: 2017-06-30T23:59:58.9450000Z
Price open: 25.88
Price close: 39.49
Price low: 24.42
Price high: 49.99
Volume traded: 15404583.15828497
Trades count: 1157080
Period start: 2017-07-01T00:00:00.0000000Z
Period end: 2017-08-01T00:00:00.0000000Z
Time open: 2017-07-01T00:00:00.3310000Z
Time close: 2017-07-31T23:59:56.0720000Z
Price open: 39.49
Price close: 42.27
Price low: 34.78
Price high: 57.75
Volume traded: 12452527.96964183
Trades count: 1055053
Period start: 2017-08-01T00:00:00.0000000Z
Period end: 2017-09-01T00:00:00.0000000Z
Time open: 2017-08-01T00:00:01.7520000Z
Time close: 2017-08-31T23:59:39.7270000Z
Price open: 42.25
Price close: 73.23
Price low: 41.18
Price high: 74.8
Volume traded: 9646707.06302685
Trades count: 1081454
Period start: 2017-09-01T00:00:00.0000000Z
Period end: 2017-10-01T00:00:00.0000000Z
Time open: 2017-09-01T00:00:00.1880000Z
Time close: 2017-09-30T23:59:52.7030000Z
Price open: 73.23
Price close: 55.26
Price low: 33.56
Price high: 98.28
Volume traded: 25030457.48642913
Trades count: 2013893
Period start: 2017-10-01T00:00:00.0000000Z
Period end: 2017-11-01T00:00:00.0000000Z
Time open: 2017-10-01T00:00:02.4660000Z
Time close: 2017-10-31T23:59:37.7570000Z
Price open: 55.26
Price close: 55.41
Price low: 48.15
Price high: 69.59
Volume traded: 10805248.811554
Trades count: 2100490
Period start: 2017-11-01T00:00:00.0000000Z
Period end: 2017-12-01T00:00:00.0000000Z
Time open: 2017-11-01T00:00:02.1620000Z
Time close: 2017-11-30T23:59:54.2880000Z
Price open: 55.41
Price close: 85.82
Price low: 50.25
Price high: 103.54
Volume traded: 18483658.01051328
Trades count: 4184201
Period start: 2017-12-01T00:00:00.0000000Z
Period end: 2018-01-01T00:00:00.0000000Z
Time open: 2017-12-01T00:00:01.2020000Z
Time close: 2017-12-31T23:59:57.5200000Z
Price open: 85.85
Price close: 227.17
Price low: 82.0
Price high: 420.0
Volume traded: 43182315.96174194
Trades count: 8255055

In [14]:
ltc_pricing_df_2017 = pd.DataFrame(
    ltc_ohlcv_historical_2017).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'LTC_start_date'}, axis='columns')
ltc_pricing_df_2017

,LTC_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-01-01T00:00:00.0000000Z,4.37,5.99,3.66,4.03,3.279043e+04,2702
1,2017-02-01T00:00:00.0000000Z,3.97,4.06,3.62,3.83,1.214416e+05,7668
2,2017-03-01T00:00:00.0000000Z,3.87,9.90,3.69,7.25,1.157578e+06,44221
3,2017-04-01T00:00:00.0000000Z,7.25,16.74,6.65,16.20,7.994885e+06,273774
4,2017-05-01T00:00:00.0000000Z,16.20,38.91,15.50,25.88,1.670084e+07,1251380
5,2017-06-01T00:00:00.0000000Z,25.88,49.99,24.42,39.49,1.540458e+07,1157080
6,2017-07-01T00:00:00.0000000Z,39.49,57.75,34.78,42.27,1.245253e+07,1055053
7,2017-08-01T00:00:00.0000000Z,42.25,74.80,41.18,73.23,9.646707e+06,1081454
8,2017-09-01T00:00:00.0000000Z,73.23,98.28,33.56,55.26,2.503046e+07,2013893
9,2017-10-01T00:00:00.0000000Z,55.26,69.59,48.15,55.41,1.080525e+07,2100490
10,2017-11-01T00:00:00.0000000Z,55.41,103.54,50.25,85.82,1.848366e+07,4184201
11,2017-12-01T00:00:00.0000000Z,85.85,420.00,82.00,227.17,4.318232e+07,8255055

In [16]:
# ZCASH MONTHLY CLOSE FROM 2017
start_of_2017 = datetime.date(2017, 1, 1).isoformat()
end_of_2017 = datetime.date(2017, 12,31).isoformat()
zec_ohlcv_historical_2017 = api.ohlcv_historical_data('KRAKEN_SPOT_ZEC_USD', {'period_id': '1MTH', 'time_start': start_of_2017, 'time_end': end_of_2017})

for period in zec_ohlcv_historical_2017:
    print('Period start: %s' % period['time_period_start'])
    print('Period end: %s' % period['time_period_end'])
    print('Time open: %s' % period['time_open'])
    print('Time close: %s' % period['time_close'])
    print('Price open: %s' % period['price_open'])
    print('Price close: %s' % period['price_close'])
    print('Price low: %s' % period['price_low'])
    print('Price high: %s' % period['price_high'])
    print('Volume traded: %s' % period['volume_traded'])
    print('Trades count: %s' % period['trades_count'])

Period start: 2017-01-01T00:00:00.0000000Z
Period end: 2017-02-01T00:00:00.0000000Z
Time open: 2017-01-01T00:13:48.0270000Z
Time close: 2017-01-31T22:37:19.1430000Z
Price open: 48.0
Price close: 39.72103
Price low: 37.11071
Price high: 58.00999
Volume traded: 4937.52376119
Trades count: 3770
Period start: 2017-02-01T00:00:00.0000000Z
Period end: 2017-03-01T00:00:00.0000000Z
Time open: 2017-02-01T00:06:39.1240000Z
Time close: 2017-02-28T22:42:16.7430000Z
Price open: 39.04901
Price close: 36.87479
Price low: 22.00001
Price high: 40.39298
Volume traded: 6424.26270077
Trades count: 3485
Period start: 2017-03-01T00:00:00.0000000Z
Period end: 2017-04-01T00:00:00.0000000Z
Time open: 2017-03-01T00:08:05.2190000Z
Time close: 2017-03-31T23:49:18.6560000Z
Price open: 36.91646
Price close: 62.22333
Price low: 32.01006
Price high: 80.40681
Volume traded: 25896.17726992
Trades count: 10107
Period start: 2017-04-01T00:00:00.0000000Z
Period end: 2017-05-01T00:00:00.0000000Z
Time open: 2017-04-01T00:27:05.8940000Z
Time close: 2017-04-30T23:34:15.7000000Z
Price open: 63.43361
Price close: 92.72201
Price low: 54.00975
Price high: 100.72436
Volume traded: 25668.89972668
Trades count: 9898
Period start: 2017-05-01T00:00:00.0000000Z
Period end: 2017-06-01T00:00:00.0000000Z
Time open: 2017-05-01T00:13:32.6950000Z
Time close: 2017-05-31T23:57:45.5900000Z
Price open: 92.72694
Price close: 231.36099
Price low: 76.0
Price high: 300.0
Volume traded: 66842.63633707
Trades count: 57055
Period start: 2017-06-01T00:00:00.0000000Z
Period end: 2017-07-01T00:00:00.0000000Z
Time open: 2017-06-01T00:08:56.4100000Z
Time close: 2017-06-30T23:59:52.3070000Z
Price open: 233.11487
Price close: 294.79606
Price low: 225.56694
Price high: 449.99
Volume traded: 67319.61503618
Trades count: 65042
Period start: 2017-07-01T00:00:00.0000000Z
Period end: 2017-08-01T00:00:00.0000000Z
Time open: 2017-07-01T00:00:29.3600000Z
Time close: 2017-07-31T23:52:57.3240000Z
Price open: 294.79606
Price close: 174.0
Price low: 132.0
Price high: 315.0
Volume traded: 62711.62666939
Trades count: 38582
Period start: 2017-08-01T00:00:00.0000000Z
Period end: 2017-09-01T00:00:00.0000000Z
Time open: 2017-08-01T00:03:10.2010000Z
Time close: 2017-08-31T23:59:14.2460000Z
Price open: 174.0
Price close: 290.0
Price low: 172.14929
Price high: 294.98998
Volume traded: 57751.9595006
Trades count: 52947
Period start: 2017-09-01T00:00:00.0000000Z
Period end: 2017-10-01T00:00:00.0000000Z
Time open: 2017-09-01T00:19:21.5420000Z
Time close: 2017-09-30T23:53:17.3910000Z
Price open: 292.959
Price close: 277.0
Price low: 145.11
Price high: 410.0
Volume traded: 96832.63923931
Trades count: 59926
Period start: 2017-10-01T00:00:00.0000000Z
Period end: 2017-11-01T00:00:00.0000000Z
Time open: 2017-10-01T00:12:43.2980000Z
Time close: 2017-10-31T23:48:09.8140000Z
Price open: 278.38
Price close: 234.0
Price low: 200.0
Price high: 281.07
Volume traded: 67449.0778272
Trades count: 47686
Period start: 2017-11-01T00:00:00.0000000Z
Period end: 2017-12-01T00:00:00.0000000Z
Time open: 2017-11-01T00:02:36.7030000Z
Time close: 2017-11-30T23:59:57.7300000Z
Price open: 234.0
Price close: 301.46
Price low: 212.0
Price high: 370.0
Volume traded: 98410.43756108
Trades count: 40923
Period start: 2017-12-01T00:00:00.0000000Z
Period end: 2018-01-01T00:00:00.0000000Z
Time open: 2017-12-01T00:00:46.3100000Z
Time close: 2017-12-31T23:53:55.1450000Z
Price open: 300.71
Price close: 478.67
Price low: 270.0
Price high: 784.0
Volume traded: 115147.83256808
Trades count: 82768

In [17]:
zec_pricing_df_2017 = pd.DataFrame(
    zec_ohlcv_historical_2017).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'ZEC_start_date'}, axis='columns')
zec_pricing_df_2017

,ZEC_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-01-01T00:00:00.0000000Z,48.00000,58.00999,37.11071,39.72103,4937.523761,3770
1,2017-02-01T00:00:00.0000000Z,39.04901,40.39298,22.00001,36.87479,6424.262701,3485
2,2017-03-01T00:00:00.0000000Z,36.91646,80.40681,32.01006,62.22333,25896.177270,10107
3,2017-04-01T00:00:00.0000000Z,63.43361,100.72436,54.00975,92.72201,25668.899727,9898
4,2017-05-01T00:00:00.0000000Z,92.72694,300.00000,76.00000,231.36099,66842.636337,57055
5,2017-06-01T00:00:00.0000000Z,233.11487,449.99000,225.56694,294.79606,67319.615036,65042
6,2017-07-01T00:00:00.0000000Z,294.79606,315.00000,132.00000,174.00000,62711.626669,38582
7,2017-08-01T00:00:00.0000000Z,174.00000,294.98998,172.14929,290.00000,57751.959501,52947
8,2017-09-01T00:00:00.0000000Z,292.95900,410.00000,145.11000,277.00000,96832.639239,59926
9,2017-10-01T00:00:00.0000000Z,278.38000,281.07000,200.00000,234.00000,67449.077827,47686
10,2017-11-01T00:00:00.0000000Z,234.00000,370.00000,212.00000,301.46000,98410.437561,40923
11,2017-12-01T00:00:00.0000000Z,300.71000,784.00000,270.00000,478.67000,115147.832568,82768

In [25]:
# TETHER MONTHLY CLOSE FROM 2017
start_of_2017 = datetime.date(2017, 1, 1).isoformat()
end_of_2017 = datetime.date(2017, 12, 31).isoformat()
usdt_ohlcv_historical_2017 = api.ohlcv_historical_data('KRAKEN_SPOT_USDT_USD', {'period_id': '1MTH', 'time_start': start_of_2017, 'time_end': end_of_2017})

for period in usdt_ohlcv_historical_2017:
    print('Period start: %s' % period['time_period_start'])
    print('Period end: %s' % period['time_period_end'])
    print('Time open: %s' % period['time_open'])
    print('Time close: %s' % period['time_close'])
    print('Price open: %s' % period['price_open'])
    print('Price close: %s' % period['price_close'])
    print('Price low: %s' % period['price_low'])
    print('Price high: %s' % period['price_high'])
    print('Volume traded: %s' % period['volume_traded'])
    print('Trades count: %s' % period['trades_count'])

Period start: 2017-04-01T00:00:00.0000000Z
Period end: 2017-05-01T00:00:00.0000000Z
Time open: 2017-04-01T08:19:50.2420000Z
Time close: 2017-04-30T23:58:47.4940000Z
Price open: 1.0009
Price close: 0.935
Price low: 0.89
Price high: 1.002
Volume traded: 5356883.50856883
Trades count: 21016
Period start: 2017-05-01T00:00:00.0000000Z
Period end: 2017-06-01T00:00:00.0000000Z
Time open: 2017-05-01T00:19:52.6010000Z
Time close: 2017-05-31T23:59:25.9830000Z
Price open: 0.9351
Price close: 1.0571
Price low: 0.9121
Price high: 1.0699
Volume traded: 5546006.14659072
Trades count: 16356
Period start: 2017-06-01T00:00:00.0000000Z
Period end: 2017-07-01T00:00:00.0000000Z
Time open: 2017-06-01T00:11:27.3830000Z
Time close: 2017-06-30T23:51:20.2440000Z
Price open: 1.05
Price close: 1.0061
Price low: 0.984
Price high: 1.068
Volume traded: 12866885.88907651
Trades count: 24285
Period start: 2017-07-01T00:00:00.0000000Z
Period end: 2017-08-01T00:00:00.0000000Z
Time open: 2017-07-01T00:06:01.0120000Z
Time close: 2017-07-31T23:59:18.4810000Z
Price open: 1.0144
Price close: 1.0025
Price low: 0.9803
Price high: 1.0379
Volume traded: 22041480.23083514
Trades count: 31553
Period start: 2017-08-01T00:00:00.0000000Z
Period end: 2017-09-01T00:00:00.0000000Z
Time open: 2017-08-01T00:02:59.5600000Z
Time close: 2017-08-31T23:52:32.9970000Z
Price open: 1.004
Price close: 1.0046
Price low: 0.965
Price high: 1.039
Volume traded: 19335339.5990358
Trades count: 21303
Period start: 2017-09-01T00:00:00.0000000Z
Period end: 2017-10-01T00:00:00.0000000Z
Time open: 2017-09-01T00:17:38.6770000Z
Time close: 2017-09-30T23:59:58.7520000Z
Price open: 1.0033
Price close: 0.9998
Price low: 0.9882
Price high: 1.0659
Volume traded: 23008649.60473766
Trades count: 423028
Period start: 2017-10-01T00:00:00.0000000Z
Period end: 2017-11-01T00:00:00.0000000Z
Time open: 2017-10-01T00:00:06.8010000Z
Time close: 2017-10-31T23:59:53.8620000Z
Price open: 0.9998
Price close: 0.9999
Price low: 0.97
Price high: 1.012
Volume traded: 30470689.9308768
Trades count: 2390295
Period start: 2017-11-01T00:00:00.0000000Z
Period end: 2017-12-01T00:00:00.0000000Z
Time open: 2017-11-01T00:00:01.5550000Z
Time close: 2017-11-30T23:42:42.6230000Z
Price open: 0.999
Price close: 1.0067
Price low: 0.9006
Price high: 1.025
Volume traded: 24823706.40948579
Trades count: 744147
Period start: 2017-12-01T00:00:00.0000000Z
Period end: 2018-01-01T00:00:00.0000000Z
Time open: 2017-12-01T00:04:24.2730000Z
Time close: 2017-12-31T23:58:05.3850000Z
Price open: 1.0095
Price close: 1.019
Price low: 0.9713
Price high: 1.0598
Volume traded: 60404851.56396852
Trades count: 253400

In [21]:
usdt_pricing_df_2017 = pd.DataFrame(
    usdt_ohlcv_historical_2017).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'USDT_start_date'}, axis='columns')
usdt_pricing_df_2017

,USDT_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-04-01T00:00:00.0000000Z,1.0009,1.0020,0.8900,0.9350,5.356884e+06,21016
1,2017-05-01T00:00:00.0000000Z,0.9351,1.0699,0.9121,1.0571,5.546006e+06,16356
2,2017-06-01T00:00:00.0000000Z,1.0500,1.0680,0.9840,1.0061,1.286689e+07,24285
3,2017-07-01T00:00:00.0000000Z,1.0144,1.0379,0.9803,1.0025,2.204148e+07,31553
4,2017-08-01T00:00:00.0000000Z,1.0040,1.0390,0.9650,1.0046,1.933534e+07,21303
5,2017-09-01T00:00:00.0000000Z,1.0033,1.0659,0.9882,0.9998,2.300865e+07,423028
6,2017-10-01T00:00:00.0000000Z,0.9998,1.0120,0.9700,0.9999,3.047069e+07,2390295
7,2017-11-01T00:00:00.0000000Z,0.9990,1.0250,0.9006,1.0067,2.482371e+07,744147
8,2017-12-01T00:00:00.0000000Z,1.0095,1.0598,0.9713,1.0190,6.040485e+07,253400

In [25]:
# STELLAR MONTHLY CLOSE FROM 2017
start_of_2017 = datetime.date(2017, 1, 1).isoformat()
end_of_2017 = datetime.date(2017, 12,31).isoformat()
xlm_ohlcv_historical_2017 = api.ohlcv_historical_data('KRAKEN_SPOT_XLM_USD', {'period_id': '1MTH', 'time_start': start_of_2017, 'time_end': end_of_2017})

for period in xlm_ohlcv_historical_2017:
    print('Period start: %s' % period['time_period_start'])
    print('Period end: %s' % period['time_period_end'])
    print('Time open: %s' % period['time_open'])
    print('Time close: %s' % period['time_close'])
    print('Price open: %s' % period['price_open'])
    print('Price close: %s' % period['price_close'])
    print('Price low: %s' % period['price_low'])
    print('Price high: %s' % period['price_high'])
    print('Volume traded: %s' % period['volume_traded'])
    print('Trades count: %s' % period['trades_count'])

Period start: 2017-01-01T00:00:00.0000000Z
Period end: 2017-02-01T00:00:00.0000000Z
Time open: 2017-01-20T07:04:32.4010000Z
Time close: 2017-01-31T20:15:47.3750000Z
Price open: 0.00225
Price close: 0.002149
Price low: 0.002056
Price high: 0.003
Volume traded: 13705314.60128674
Trades count: 231
Period start: 2017-02-01T00:00:00.0000000Z
Period end: 2017-03-01T00:00:00.0000000Z
Time open: 2017-02-01T10:19:10.4200000Z
Time close: 2017-02-28T23:05:22.3460000Z
Price open: 0.002298
Price close: 0.00192
Price low: 0.001732
Price high: 0.002483
Volume traded: 13727735.56192263
Trades count: 347
Period start: 2017-03-01T00:00:00.0000000Z
Period end: 2017-04-01T00:00:00.0000000Z
Time open: 2017-03-01T01:11:53.2750000Z
Time close: 2017-03-31T23:57:34.3710000Z
Price open: 0.001833
Price close: 0.002282
Price low: 0.001401
Price high: 0.002844
Volume traded: 79348965.77807531
Trades count: 1706
Period start: 2017-04-01T00:00:00.0000000Z
Period end: 2017-05-01T00:00:00.0000000Z
Time open: 2017-04-01T00:14:39.5230000Z
Time close: 2017-04-30T23:52:03.6270000Z
Price open: 0.002278
Price close: 0.004805
Price low: 0.002149
Price high: 0.0055
Volume traded: 82106114.72977802
Trades count: 3134
Period start: 2017-05-01T00:00:00.0000000Z
Period end: 2017-06-01T00:00:00.0000000Z
Time open: 2017-05-01T03:07:22.7110000Z
Time close: 2017-05-31T23:59:57.4690000Z
Price open: 0.004805
Price close: 0.034
Price low: 0.0045
Price high: 0.067
Volume traded: 720767962.477544
Trades count: 92857
Period start: 2017-06-01T00:00:00.0000000Z
Period end: 2017-07-01T00:00:00.0000000Z
Time open: 2017-06-01T00:00:00.1940000Z
Time close: 2017-06-30T23:57:14.2360000Z
Price open: 0.034
Price close: 0.026694
Price low: 0.02401
Price high: 0.056493
Volume traded: 209614446.9136031
Trades count: 67251
Period start: 2017-07-01T00:00:00.0000000Z
Period end: 2017-08-01T00:00:00.0000000Z
Time open: 2017-07-01T00:00:20.4570000Z
Time close: 2017-07-31T23:58:43.9360000Z
Price open: 0.026505
Price close: 0.016269
Price low: 0.0122
Price high: 0.0291
Volume traded: 230938509.66055837
Trades count: 29892
Period start: 2017-08-01T00:00:00.0000000Z
Period end: 2017-09-01T00:00:00.0000000Z
Time open: 2017-08-01T00:07:19.4180000Z
Time close: 2017-08-22T06:05:15.9000000Z
Price open: 0.016269
Price close: 0.01706
Price low: 0.015201
Price high: 0.0285
Volume traded: 185501601.31117
Trades count: 30871

,XLM_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-01-01T00:00:00.0000000Z,0.002250,0.003000,0.002056,0.002149,1.370531e+07,231
1,2017-02-01T00:00:00.0000000Z,0.002298,0.002483,0.001732,0.001920,1.372774e+07,347
2,2017-03-01T00:00:00.0000000Z,0.001833,0.002844,0.001401,0.002282,7.934897e+07,1706
3,2017-04-01T00:00:00.0000000Z,0.002278,0.005500,0.002149,0.004805,8.210611e+07,3134
4,2017-05-01T00:00:00.0000000Z,0.004805,0.067000,0.004500,0.034000,7.207680e+08,92857
5,2017-06-01T00:00:00.0000000Z,0.034000,0.056493,0.024010,0.026694,2.096144e+08,67251
6,2017-07-01T00:00:00.0000000Z,0.026505,0.029100,0.012200,0.016269,2.309385e+08,29892
7,2017-08-01T00:00:00.0000000Z,0.016269,0.028500,0.015201,0.017060,1.855016e+08,30871

In [26]:
xlm_pricing_2017 = pd.DataFrame(
    xlm_ohlcv_historical_2017).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'XLM_start_date'}, axis='columns')
xlm_pricing_2017

,XLM_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-01-01T00:00:00.0000000Z,0.002250,0.003000,0.002056,0.002149,1.370531e+07,231
1,2017-02-01T00:00:00.0000000Z,0.002298,0.002483,0.001732,0.001920,1.372774e+07,347
2,2017-03-01T00:00:00.0000000Z,0.001833,0.002844,0.001401,0.002282,7.934897e+07,1706
3,2017-04-01T00:00:00.0000000Z,0.002278,0.005500,0.002149,0.004805,8.210611e+07,3134
4,2017-05-01T00:00:00.0000000Z,0.004805,0.067000,0.004500,0.034000,7.207680e+08,92857
5,2017-06-01T00:00:00.0000000Z,0.034000,0.056493,0.024010,0.026694,2.096144e+08,67251
6,2017-07-01T00:00:00.0000000Z,0.026505,0.029100,0.012200,0.016269,2.309385e+08,29892
7,2017-08-01T00:00:00.0000000Z,0.016269,0.028500,0.015201,0.017060,1.855016e+08,30871

In [28]:
# RIPPLE MONTHLY CLOSE FROM 2017
start_of_2017 = datetime.date(2017, 1, 1).isoformat()
end_of_2017 = datetime.date(2017, 12,31).isoformat()
xrp_ohlcv_historical_2017 = api.ohlcv_historical_data('BITSTAMP_SPOT_XRP_USD', {'period_id': '1MTH', 'time_start': start_of_2017, 'time_end': end_of_2017})

for period in xrp_ohlcv_historical_2017:
    print('Period start: %s' % period['time_period_start'])
    print('Period end: %s' % period['time_period_end'])
    print('Time open: %s' % period['time_open'])
    print('Time close: %s' % period['time_close'])
    print('Price open: %s' % period['price_open'])
    print('Price close: %s' % period['price_close'])
    print('Price low: %s' % period['price_low'])
    print('Price high: %s' % period['price_high'])
    print('Volume traded: %s' % period['volume_traded'])
    print('Trades count: %s' % period['trades_count'])

Period start: 2017-01-01T00:00:00.0000000Z
Period end: 2017-02-01T00:00:00.0000000Z
Time open: 2017-01-25T20:00:14.0000000Z
Time close: 2017-01-26T10:31:43.0000000Z
Price open: 0.00645
Price close: 0.00638
Price low: 0.00638
Price high: 0.0065
Volume traded: 901883.43594149
Trades count: 82
Period start: 2017-02-01T00:00:00.0000000Z
Period end: 2017-03-01T00:00:00.0000000Z
Time open: 2017-02-01T14:04:44.0000000Z
Time close: 2017-02-28T23:59:35.0000000Z
Price open: 0.00642
Price close: 0.00557
Price low: 0.005
Price high: 0.00648
Volume traded: 110086999.6237137
Trades count: 5139
Period start: 2017-03-01T00:00:00.0000000Z
Period end: 2017-04-01T00:00:00.0000000Z
Time open: 2017-03-01T00:03:16.0000000Z
Time close: 2017-03-31T23:59:53.0000000Z
Price open: 0.00555
Price close: 0.0214
Price low: 0.00525
Price high: 0.02254
Volume traded: 581219708.651262
Trades count: 20591
Period start: 2017-04-01T00:00:00.0000000Z
Period end: 2017-05-01T00:00:00.0000000Z
Time open: 2017-04-01T00:00:50.0000000Z
Time close: 2017-04-30T23:46:03.0000000Z
Price open: 0.0214
Price close: 0.05218
Price low: 0.0075
Price high: 0.0695
Volume traded: 725641191.9464266
Trades count: 45816
Period start: 2017-05-01T00:00:00.0000000Z
Period end: 2017-06-01T00:00:00.0000000Z
Time open: 2017-05-01T00:09:01.0000000Z
Time close: 2017-05-31T23:58:53.0000000Z
Price open: 0.0517
Price close: 0.2475
Price low: 0.04903
Price high: 0.39887
Volume traded: 1036911256.314519
Trades count: 170022
Period start: 2017-06-01T00:00:00.0000000Z
Period end: 2017-07-01T00:00:00.0000000Z
Time open: 2017-06-01T00:00:08.0000000Z
Time close: 2017-06-30T23:59:52.0000000Z
Price open: 0.2475
Price close: 0.24869
Price low: 0.214
Price high: 0.34008
Volume traded: 483187601.95956045
Trades count: 102889
Period start: 2017-07-01T00:00:00.0000000Z
Period end: 2017-08-01T00:00:00.0000000Z
Time open: 2017-07-01T00:01:05.0000000Z
Time close: 2017-07-31T23:56:01.0000000Z
Price open: 0.24964
Price close: 0.16444
Price low: 0.127
Price high: 0.2585
Volume traded: 362265067.0675478
Trades count: 66838
Period start: 2017-08-01T00:00:00.0000000Z
Period end: 2017-09-01T00:00:00.0000000Z
Time open: 2017-08-01T00:08:31.0000000Z
Time close: 2017-08-31T23:59:42.0000000Z
Price open: 0.16341
Price close: 0.26
Price low: 0.14625
Price high: 0.298
Volume traded: 618638888.4053824
Trades count: 168955
Period start: 2017-09-01T00:00:00.0000000Z
Period end: 2017-10-01T00:00:00.0000000Z
Time open: 2017-09-01T00:00:20.0000000Z
Time close: 2017-09-30T23:56:33.0000000Z
Price open: 0.25901
Price close: 0.1991
Price low: 0.14811
Price high: 0.26098
Volume traded: 451524456.5169258
Trades count: 126566
Period start: 2017-10-01T00:00:00.0000000Z
Period end: 2017-11-01T00:00:00.0000000Z
Time open: 2017-10-01T00:01:29.0000000Z
Time close: 2017-10-31T23:58:48.0000000Z
Price open: 0.198
Price close: 0.19727
Price low: 0.18211
Price high: 0.29699
Volume traded: 480206138.7872186
Trades count: 151461
Period start: 2017-11-01T00:00:00.0000000Z
Period end: 2017-12-01T00:00:00.0000000Z
Time open: 2017-11-01T00:00:43.0000000Z
Time close: 2017-11-30T23:59:52.0000000Z
Price open: 0.19735
Price close: 0.235
Price low: 0.17777
Price high: 0.281
Volume traded: 608955798.020495
Trades count: 207066
Period start: 2017-12-01T00:00:00.0000000Z
Period end: 2018-01-01T00:00:00.0000000Z
Time open: 2017-12-01T00:00:00.0000000Z
Time close: 2017-12-31T23:59:59.0000000Z
Price open: 0.23497
Price close: 1.99
Price low: 0.19776
Price high: 2.474
Volume traded: 2266901708.166291
Trades count: 1155816

In [29]:
xrp_pricing_2017 = pd.DataFrame(
    xrp_ohlcv_historical_2017).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'XRP_start_date'}, axis='columns')
xrp_pricing_2017

,XRP_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-01-01T00:00:00.0000000Z,0.00645,0.00650,0.00638,0.00638,9.018834e+05,82
1,2017-02-01T00:00:00.0000000Z,0.00642,0.00648,0.00500,0.00557,1.100870e+08,5139
2,2017-03-01T00:00:00.0000000Z,0.00555,0.02254,0.00525,0.02140,5.812197e+08,20591
3,2017-04-01T00:00:00.0000000Z,0.02140,0.06950,0.00750,0.05218,7.256412e+08,45816
4,2017-05-01T00:00:00.0000000Z,0.05170,0.39887,0.04903,0.24750,1.036911e+09,170022
5,2017-06-01T00:00:00.0000000Z,0.24750,0.34008,0.21400,0.24869,4.831876e+08,102889
6,2017-07-01T00:00:00.0000000Z,0.24964,0.25850,0.12700,0.16444,3.622651e+08,66838
7,2017-08-01T00:00:00.0000000Z,0.16341,0.29800,0.14625,0.26000,6.186389e+08,168955
8,2017-09-01T00:00:00.0000000Z,0.25901,0.26098,0.14811,0.19910,4.515245e+08,126566
9,2017-10-01T00:00:00.0000000Z,0.19800,0.29699,0.18211,0.19727,4.802061e+08,151461
10,2017-11-01T00:00:00.0000000Z,0.19735,0.28100,0.17777,0.23500,6.089558e+08,207066
11,2017-12-01T00:00:00.0000000Z,0.23497,2.47400,0.19776,1.99000,2.266902e+09,1155816

In [30]:
# DASH MONTHLY CLOSE FROM 2017
start_of_2017 = datetime.date(2017, 1, 1).isoformat()
end_of_2017 = datetime.date(2017, 12,31).isoformat()
dash_ohlcv_historical_2017 = api.ohlcv_historical_data('KRAKEN_SPOT_DASH_USD', {'period_id': '1MTH', 'time_start': start_of_2017, 'time_end': end_of_2017})

for period in dash_ohlcv_historical_2017:
    print('Period start: %s' % period['time_period_start'])
    print('Period end: %s' % period['time_period_end'])
    print('Time open: %s' % period['time_open'])
    print('Time close: %s' % period['time_close'])
    print('Price open: %s' % period['price_open'])
    print('Price close: %s' % period['price_close'])
    print('Price low: %s' % period['price_low'])
    print('Price high: %s' % period['price_high'])
    print('Volume traded: %s' % period['volume_traded'])
    print('Trades count: %s' % period['trades_count'])

Period start: 2017-04-01T00:00:00.0000000Z
Period end: 2017-05-01T00:00:00.0000000Z
Time open: 2017-04-20T11:53:17.7030000Z
Time close: 2017-04-30T23:11:11.8740000Z
Price open: 71.51334
Price close: 92.82983
Price low: 70.0
Price high: 102.2019
Volume traded: 9150.94674848
Trades count: 1431
Period start: 2017-05-01T00:00:00.0000000Z
Period end: 2017-06-01T00:00:00.0000000Z
Time open: 2017-05-01T00:34:21.5270000Z
Time close: 2017-05-31T23:58:48.6950000Z
Price open: 90.02437
Price close: 137.37001
Price low: 77.50008
Price high: 149.95
Volume traded: 60526.73150317
Trades count: 15811
Period start: 2017-06-01T00:00:00.0000000Z
Period end: 2017-07-01T00:00:00.0000000Z
Time open: 2017-06-01T00:21:48.6850000Z
Time close: 2017-06-30T23:42:19.7280000Z
Price open: 140.64014
Price close: 174.73788
Price low: 130.0
Price high: 201.99879
Volume traded: 62989.83025877
Trades count: 21856
Period start: 2017-07-01T00:00:00.0000000Z
Period end: 2017-08-01T00:00:00.0000000Z
Time open: 2017-07-01T01:59:49.9040000Z
Time close: 2017-07-31T23:57:04.3970000Z
Price open: 179.97646
Price close: 178.5
Price low: 115.00004
Price high: 240.0
Volume traded: 81831.26943358
Trades count: 26035
Period start: 2017-08-01T00:00:00.0000000Z
Period end: 2017-09-01T00:00:00.0000000Z
Time open: 2017-08-01T00:02:56.2630000Z
Time close: 2017-08-31T23:47:57.3460000Z
Price open: 178.5
Price close: 387.182
Price low: 176.73478
Price high: 414.99999
Volume traded: 61795.47449927
Trades count: 37998
Period start: 2017-09-01T00:00:00.0000000Z
Period end: 2017-10-01T00:00:00.0000000Z
Time open: 2017-09-01T00:07:45.5110000Z
Time close: 2017-09-30T23:48:14.3560000Z
Price open: 386.0
Price close: 330.0
Price low: 221.0
Price high: 409.668
Volume traded: 55804.81755363
Trades count: 35347
Period start: 2017-10-01T00:00:00.0000000Z
Period end: 2017-11-01T00:00:00.0000000Z
Time open: 2017-10-01T01:21:29.6490000Z
Time close: 2017-10-31T23:54:01.3820000Z
Price open: 328.124
Price close: 279.38
Price low: 264.05
Price high: 332.23
Volume traded: 28518.58534445
Trades count: 17924
Period start: 2017-11-01T00:00:00.0000000Z
Period end: 2017-12-01T00:00:00.0000000Z
Time open: 2017-11-01T00:02:23.9360000Z
Time close: 2017-11-30T23:59:51.8700000Z
Price open: 279.0
Price close: 779.852
Price low: 252.5
Price high: 815.0
Volume traded: 72057.46362545
Trades count: 39619
Period start: 2017-12-01T00:00:00.0000000Z
Period end: 2018-01-01T00:00:00.0000000Z
Time open: 2017-12-01T00:16:21.9350000Z
Time close: 2017-12-31T23:27:18.5230000Z
Price open: 779.0
Price close: 1027.191
Price low: 651.0
Price high: 1625.0
Volume traded: 57779.23534492
Trades count: 64788

In [31]:
dash_pricing_2017 = pd.DataFrame(
    dash_ohlcv_historical_2017).drop(
    columns=['time_open', 'time_close', 'time_period_end']).rename(
    {'time_period_start': 'DASH_start_date'}, axis='columns')
dash_pricing_2017

,DASH_start_date,price_open,price_high,price_low,price_close,volume_traded,trades_count
0,2017-04-01T00:00:00.0000000Z,71.51334,102.20190,70.00000,92.82983,9150.946748,1431
1,2017-05-01T00:00:00.0000000Z,90.02437,149.95000,77.50008,137.37001,60526.731503,15811
2,2017-06-01T00:00:00.0000000Z,140.64014,201.99879,130.00000,174.73788,62989.830259,21856
3,2017-07-01T00:00:00.0000000Z,179.97646,240.00000,115.00004,178.50000,81831.269434,26035
4,2017-08-01T00:00:00.0000000Z,178.50000,414.99999,176.73478,387.18200,61795.474499,37998
5,2017-09-01T00:00:00.0000000Z,386.00000,409.66800,221.00000,330.00000,55804.817554,35347
6,2017-10-01T00:00:00.0000000Z,328.12400,332.23000,264.05000,279.38000,28518.585344,17924
7,2017-11-01T00:00:00.0000000Z,279.00000,815.00000,252.50000,779.85200,72057.463625,39619
8,2017-12-01T00:00:00.0000000Z,779.00000,1625.00000,651.00000,1027.19100,57779.235345,64788