In [5]:
import os
import requests
import json
import numpy as np
from dotenv import load_dotenv
from pathlib import Path
import pandas as pd
from coinapi_rest_v1.restapi import CoinAPIv1
import datetime, sys

In [6]:
crypto_dataframe = pd.read_csv(
    Path('./crypto_data.csv')
)

In [7]:
display(crypto_dataframe)

,Unnamed: 0,btc_start_date,price_open,price_close,volume_traded,eth_start_date,price_open.1,price_close.1,volume_traded.1,ltc_start_date,...,price_close.5,volume_traded.5,zec_start_date,price_open.6,price_close.6,volume_traded.6,dash_start_date,price_open.7,price_close.7,volume_traded.7
0,0,2017-02-01T00:00:00.0000000Z,968.166,1180.000,61053.17522,2017-01-01T00:00:00.0000000Z,8.09999,10.66911,8.902222e+05,2017-01-01T00:00:00.0000000Z,...,0.249367,122281928.8,2017-01-01T00:00:00.0000000Z,48.00000,39.72103,4937.523761,2017-04-01T00:00:00.0000000Z,71.51334,92.82983,9150.946748
1,1,2017-02-01T00:00:00.0000000Z,1181.998,1079.780,114427.90560,2017-02-01T00:00:00.0000000Z,10.75997,15.63000,9.978738e+05,2017-02-01T00:00:00.0000000Z,...,0.244035,183678603.7,2017-02-01T00:00:00.0000000Z,39.04901,36.87479,6424.262701,2017-05-01T00:00:00.0000000Z,90.02437,137.37001,60526.731500
2,2,2017-02-01T00:00:00.0000000Z,1080.030,1350.717,65383.51624,2017-03-01T00:00:00.0000000Z,15.62999,49.69750,3.386530e+06,2017-03-01T00:00:00.0000000Z,...,0.165100,233919484.2,2017-03-01T00:00:00.0000000Z,36.91646,62.22333,25896.177270,2017-06-01T00:00:00.0000000Z,140.64014,174.73788,62989.830260
3,3,2017-02-01T00:00:00.0000000Z,1344.601,2291.301,221472.63930,2017-04-01T00:00:00.0000000Z,49.69000,78.36700,1.165797e+06,2017-04-01T00:00:00.0000000Z,...,0.260000,438200607.4,2017-04-01T00:00:00.0000000Z,63.43361,92.72201,25668.899730,2017-07-01T00:00:00.0000000Z,179.97646,178.50000,81831.269430
4,4,2017-02-01T00:00:00.0000000Z,2291.301,2445.000,214516.22790,2017-05-01T00:00:00.0000000Z,78.36667,228.50000,3.020777e+06,2017-05-01T00:00:00.0000000Z,...,0.199030,301335988.4,2017-05-01T00:00:00.0000000Z,92.72694,231.36099,66842.636340,2017-08-01T00:00:00.0000000Z,178.50000,387.18200,61795.474500
5,5,2017-02-01T00:00:00.0000000Z,2443.360,2876.133,260245.31790,2017-06-01T00:00:00.0000000Z,227.40051,280.00000,2.827970e+06,2017-06-01T00:00:00.0000000Z,...,0.199060,318538449.2,2017-06-01T00:00:00.0000000Z,233.11487,294.79606,67319.615040,2017-09-01T00:00:00.0000000Z,386.00000,330.00000,55804.817550
6,6,2017-02-01T00:00:00.0000000Z,2876.133,4737.270,228405.86180,2017-07-01T00:00:00.0000000Z,280.99990,201.77770,4.388107e+06,2017-07-01T00:00:00.0000000Z,...,0.240000,282110922.9,2017-07-01T00:00:00.0000000Z,294.79606,174.00000,62711.626670,2017-10-01T00:00:00.0000000Z,328.12400,279.38000,28518.585340
7,7,2017-02-01T00:00:00.0000000Z,4737.020,4344.000,205468.18520,2017-08-01T00:00:00.0000000Z,201.77770,388.00300,2.348183e+06,2017-08-01T00:00:00.0000000Z,...,1.990040,578525713.2,2017-08-01T00:00:00.0000000Z,174.00000,290.00000,57751.959500,2017-11-01T00:00:00.0000000Z,279.00000,779.85200,72057.463630
8,8,2017-02-01T00:00:00.0000000Z,4343.900,6430.500,91987.22664,2017-09-01T00:00:00.0000000Z,388.64900,302.20000,2.726662e+06,2017-09-01T00:00:00.0000000Z,...,NaN,NaN,2017-09-01T00:00:00.0000000Z,292.95900,277.00000,96832.639240,2017-12-01T00:00:00.0000000Z,779.00000,1027.19100,57779.235340
9,9,2017-02-01T00:00:00.0000000Z,6442.300,10088.500,159007.77120,2017-10-01T00:00:00.0000000Z,302.19000,304.12000,5.982336e+05,2017-10-01T00:00:00.0000000Z,...,NaN,NaN,2017-10-01T00:00:00.0000000Z,278.38000,234.00000,67449.077830,NaN,NaN,NaN,NaN
10,10,2017-02-01T00:00:00.0000000Z,10087.800,13990.000,129092.02070,2017-11-01T00:00:00.0000000Z,304.11000,439.25000,1.698386e+06,2017-11-01T00:00:00.0000000Z,...,NaN,NaN,2017-11-01T00:00:00.0000000Z,234.00000,301.46000,98410.437560,NaN,NaN,NaN,NaN
11,11,NaN,NaN,NaN,NaN,2017-12-01T00:00:00.0000000Z,438.56000,745.98000,9.795841e+05,2017-12-01T00:00:00.0000000Z,...,NaN,NaN,2017-12-01T00:00:00.0000000Z,300.71000,478.67000,115147.832600,NaN,NaN,NaN,NaN
12,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN