In [ ]:
# GOAL: HAVE EACH ANALYSIS SECTION COMPUTE A STANDARD SET OF CALCULATIONS FOR RISK METRICS AND CORRELATION

"""
For now, we keep it simple. If we need to expand, we can. 
We are taking what we need to in order to understand how each basket of currencies 
is correlated to the market proxy (bitcoin)
"""

In [3]:
# STEP 1: IMPORT DEPENDENCIES
#For basic calculations:
import pandas as pd
import numpy as np
import csv

#For Heatmap:
import seaborn as sns
%matplotlib inline

In [5]:
# STEP 2: IMPORT DATA AS DATAFRAME
"""
Determnine if we are reading csv data, running individual api calls, or querying an in-house database
"""
filename = "2018_data.csv"

# reading csv file
with open(filename, 'r') as csvfile:
    # creating a csv reader object
    csvreader = csv.reader(csvfile)

In [10]:
# Convert the csv file into a dataframe
crypto_data_2018_df = pd.read_csv(filename)
crypto_data_2018_df

,Unnamed: 0,btc_start_date,price_open,price_close,volume_traded,eth_start_date,price_open.1,price_close.1,volume_traded.1,ltc_start_date,...,price_close.6,volume_traded.6,dash_start_date,price_open.7,price_close.7,volume_traded.7,ada_start_date,price_open.8,price_close.8,volume_traded.8
0,0,2018-01-01T00:00:00.0000000Z,13971.1,10101.6,147606.21920,2018-01-01T00:00:00.0000000Z,744.39,1105.30,1379339.521,2018-01-01T00:00:00.0000000Z,...,393.93,102428.97600,2018-01-01T00:00:00.0000000Z,1027.191,689.500,61271.89094,2018-09-01T00:00:00.0000000Z,0.300000,0.085512,7.543098e+06
1,1,2018-02-01T00:00:00.0000000Z,10105.5,10310.0,311097.47520,2018-02-01T00:00:00.0000000Z,1105.30,850.10,1779320.569,2018-02-01T00:00:00.0000000Z,...,380.30,76193.44256,2018-02-01T00:00:00.0000000Z,689.500,582.368,44776.54752,2018-10-01T00:00:00.0000000Z,0.085500,0.069731,5.972341e+07
2,2,2018-03-01T00:00:00.0000000Z,10309.0,6911.1,364738.92010,2018-03-01T00:00:00.0000000Z,850.11,392.40,1917408.272,2018-03-01T00:00:00.0000000Z,...,184.13,50285.68862,2018-03-01T00:00:00.0000000Z,580.000,303.719,49763.21180,2018-11-01T00:00:00.0000000Z,0.069638,0.038600,1.265523e+08
3,3,2018-04-01T00:00:00.0000000Z,6913.8,9243.2,217398.70080,2018-04-01T00:00:00.0000000Z,393.25,669.57,1888070.603,2018-04-01T00:00:00.0000000Z,...,284.41,44602.21027,2018-04-01T00:00:00.0000000Z,303.809,473.475,38776.38426,2018-12-01T00:00:00.0000000Z,0.038637,0.040700,1.601121e+08
4,4,2018-05-01T00:00:00.0000000Z,9246.5,7485.6,133746.86690,2018-05-01T00:00:00.0000000Z,670.13,577.54,1531224.429,2018-05-01T00:00:00.0000000Z,...,239.43,91506.98776,2018-05-01T00:00:00.0000000Z,473.475,304.394,25859.24255,NaN,NaN,NaN,NaN
5,5,2018-06-01T00:00:00.0000000Z,7490.9,6387.9,120310.78780,2018-06-01T00:00:00.0000000Z,577.35,453.05,1667017.016,2018-06-01T00:00:00.0000000Z,...,170.67,27875.66694,2018-06-01T00:00:00.0000000Z,305.400,239.024,21546.51809,NaN,NaN,NaN,NaN
6,6,2018-07-01T00:00:00.0000000Z,6387.0,7726.0,124102.36790,2018-07-01T00:00:00.0000000Z,453.00,431.67,1095661.150,2018-07-01T00:00:00.0000000Z,...,209.23,56803.61617,2018-07-01T00:00:00.0000000Z,239.900,217.576,44737.57765,NaN,NaN,NaN,NaN
7,7,2018-08-01T00:00:00.0000000Z,7726.0,7015.8,149781.15990,2018-08-01T00:00:00.0000000Z,431.76,281.60,1413788.197,2018-08-01T00:00:00.0000000Z,...,150.01,59883.33471,2018-08-01T00:00:00.0000000Z,218.793,195.100,62024.40518,NaN,NaN,NaN,NaN
8,8,2018-09-01T00:00:00.0000000Z,7014.8,6604.1,120259.67690,2018-09-01T00:00:00.0000000Z,281.59,231.96,3099220.865,2018-09-01T00:00:00.0000000Z,...,129.87,51178.43574,2018-09-01T00:00:00.0000000Z,194.704,186.310,49986.45950,NaN,NaN,NaN,NaN
9,9,2018-10-01T00:00:00.0000000Z,6603.8,6307.5,80038.91905,2018-10-01T00:00:00.0000000Z,231.96,196.88,1443435.170,2018-10-01T00:00:00.0000000Z,...,115.16,39803.52398,2018-10-01T00:00:00.0000000Z,187.590,152.199,25417.59634,NaN,NaN,NaN,NaN
10,10,2018-11-01T00:00:00.0000000Z,6307.5,3969.4,240664.06460,2018-11-01T00:00:00.0000000Z,196.99,111.64,3533781.953,2018-11-01T00:00:00.0000000Z,...,79.44,142754.99620,2018-11-01T00:00:00.0000000Z,151.717,90.999,66444.37651,NaN,NaN,NaN,NaN
11,11,2018-12-01T00:00:00.0000000Z,3969.4,3691.9,361919.09980,2018-12-01T00:00:00.0000000Z,111.81,130.86,5550937.134,2018-12-01T00:00:00.0000000Z,...,55.02,88363.92152,2018-12-01T00:00:00.0000000Z,90.703,77.073,112577.02020,NaN,NaN,NaN,NaN

In [15]:
# STEP 3: CALCULATE Monthly RETURNS FOR EACH CURRENCY IN Designated Time range from  DATAFRAME, DROP NULL VALUES
"""

Will need: .pct_change().dropna(inplace = True)

"""
btc_2018 = crypto_data_2018_df['price_close'].pct_change()
print(btc_2018)

0          NaN
1     0.020630
2    -0.329670
3     0.337443
4    -0.190151
5    -0.146642
6     0.209474
7    -0.091923
8    -0.058682
9    -0.044911
10   -0.370686
11   -0.069910
Name: price_close, dtype: float64

In [17]:
eth_2018 = crypto_data_2018_df['price_close.1'].pct_change()
print(eth_2018)

0          NaN
1    -0.230888
2    -0.538407
3     0.706346
4    -0.137446
5    -0.215552
6    -0.047191
7    -0.347650
8    -0.176278
9    -0.151233
10   -0.432954
11    0.172161
Name: price_close.1, dtype: float64

In [21]:
ltc_2018 = crypto_data_2018_df['price_close.2'].pct_change()
print(ltc_2018)

0          NaN
1     0.243623
2    -0.426080
3     0.280905
4    -0.203531
5    -0.314097
6    -0.028497
7    -0.210667
8    -0.019305
9    -0.189304
10   -0.359571
11   -0.059400
Name: price_close.2, dtype: float64

In [19]:
usdt_2018 = crypto_data_2018_df['price_close.3'].pct_change()
print(usdt_2018)

0          NaN
1     0.015127
2    -0.002700
3     0.003008
4    -0.001500
5     0.000000
6    -0.000701
7     0.001804
8    -0.003401
9    -0.004516
10   -0.007561
11    0.014933
Name: price_close.3, dtype: float64

In [22]:
xlm_2018 = crypto_data_2018_df['price_close.4'].pct_change()
print(xlm_2018)

0           NaN
1     18.343552
2     -0.381932
3      1.078808
4     -0.300387
5     -0.352685
6      0.432930
7     -0.188038
8      0.162308
9     -0.133947
10    -0.303066
11    -0.302504
Name: price_close.4, dtype: float64

In [23]:
xrp_2018 = crypto_data_2018_df['price_close.5'].pct_change()
print(xrp_2018)

0          NaN
1    -0.208204
2    -0.438076
3     0.667322
4    -0.264654
5    -0.232981
6    -0.072902
7    -0.229070
8     0.728955
9    -0.223066
10   -0.202911
11   -0.030221
Name: price_close.5, dtype: float64

In [24]:
zec_2018 = crypto_data_2018_df['price_close.6'].pct_change()
print(zec_2018)

0          NaN
1    -0.034600
2    -0.515830
3     0.544615
4    -0.158152
5    -0.287182
6     0.225933
7    -0.283038
8    -0.134258
9    -0.113267
10   -0.310177
11   -0.307402
Name: price_close.6, dtype: float64

In [25]:
dash_2018 = crypto_data_2018_df['price_close.7'].pct_change()
print(dash_2018)

0          NaN
1    -0.155376
2    -0.478476
3     0.558925
4    -0.357106
5    -0.214755
6    -0.089732
7    -0.103302
8    -0.045054
9    -0.183087
10   -0.402105
11   -0.153035
Name: price_close.7, dtype: float64

In [26]:
ada_2018 = crypto_data_2018_df['price_close.8'].pct_change()
print(ada_2018)

0          NaN
1    -0.184547
2    -0.446444
3     0.054404
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
Name: price_close.8, dtype: float64

In [27]:
# STEP 4: CALCULATE VARIANCE OF BITCOIN FOR DATAFRAME
"""

Will need: monthly_returns.var()

"""
btc_var_2018 = btc_2018.var()
print(btc_var_2018)

0.04316067911322884

In [28]:
eth_var_2018 = eth_2018.var()
print(eth_var_2018)

0.11236398859615726

In [29]:
ltc_var_2018 = ltc_2018.var()
print(ltc_var_2018)

0.052377929254903186

In [30]:
usdt_var_2018 = usdt_2018.var()
print(usdt_var_2018)

0.052377929254903186

In [31]:
xlm_var_2018 = xlm_2018.var()
print(xlm_var_2018)

30.882570214783176

In [32]:
xrp_var_2018 = xrp_2018.var()
print(xrp_var_2018)

0.1462649663944814

In [33]:
zec_var_2018 = zec_2018.var()
print(zec_var_2018)

0.08526206409013068

In [34]:
dash_var_2018 = dash_2018.var()
print(dash_var_2018)

0.07390074264025505

In [35]:
ada_var_2018 = ada_2018.var()
print(ada_var_2018)

0.020610690995941032

In [40]:
# STEP 5B: CALCULATE COVARIANCE OF EACH CURRENCY RELATIVE TO BITCOIN
"""
Use monthly returns of currency and monthly returns of bitcoin as market proxy

"""
btc_2018_cov = btc_2018.cov(btc_2018)
btc_2018_cov

0.04316067911322885

In [41]:
eth_2018_cov = eth_2018.cov(btc_2018)
eth_2018_cov

0.05630031129305191

In [42]:
ltc_2018_cov = ltc_2018.cov(btc_2018)
ltc_2018_cov

0.03995870838063431

In [43]:
usdt_2018_cov = usdt_2018.cov(btc_2018)
usdt_2018_cov

0.03995870838063431

In [44]:
xlm_2018_cov = xlm_2018.cov(btc_2018)
xlm_2018_cov

0.24216236081323933

In [45]:
xrp_2018_cov = xrp_2018.cov(btc_2018)
xrp_2018_cov

0.04663550473760388

In [46]:
zec_2018_cov = zec_2018.cov(btc_2018)
zec_2018_cov

0.05563121917637043

In [47]:
dash_2018_cov = dash_2018.cov(btc_2018)
dash_2018_cov

0.04953970781661607

In [48]:
ada_2018_cov = ada_2018.cov(btc_2018)
ada_2018_cov

0.012320240941611915

In [50]:
# STEP 6: CALCULATE BETA OF EACH CURRENCY

"""
beta = covariance of asset to market / variance of market

use previous calculations for market variance and covariance of assets
"""
btc_beta_2018 = btc_2018_cov / btc_var_2018
btc_beta_2018

# # Calculate the beta based on the 60-day rolling covariance compared to the market (S&P 500)
# # Review the last five rows of the beta information
# Tiger_beta = Tiger_cov / SP500_var

# Tiger_beta.tail()
# # The first 60 days will be NaN values due to the use of the 60 day window for the rolling period.

1.0000000000000002

In [ ]:
# Display Correlation Heatmap With Seaborn

"""
NEW CELL to check monthly returns are displayed with pct_change already applied
- Take dataframe of daily returns from step 3 (pct_change drop na already applied)

NEW CELL to check correlation dataframe
- correlation = monthly_returns_dataframe.corr()

NEW CELL to display heatmap
- sns.heatmap(correlation)


"""